div.ngg-player-bg-changer-overlay{
    display: none;
    z-index: 1000; 
    position: absolute; 
    top: 0px; 
    left: 0px;
    opacity: 0.91;
}

div.ngg-player-bg-changer{
    display: none;
    position: absolute; 
    top: 0px; 
    left: 0px;
    height: 40px !important;
    border: 0px solid #ffffff !important;
    margin: 0px !important;
    width: 100%;
}

div.ngg-player-bg-changer div.ngg-player-bg-changer-item{
    display: block;
    position: relative; 
    width: 20px !important;
    height: 20px !important;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
    float: left;
    border: 0px solid #ffffff !important;
    opacity: 0.65;
    z-index: 1002; 
}

div.ngg-player-bg-changer div.ngg-player-bg-changer-item-1 {
    background: #ffffff;    
}

div.ngg-player-bg-changer div.ngg-player-bg-changer-item-2 {
    background: #e5e5e5;    
}

div.ngg-player-bg-changer div.ngg-player-bg-changer-item-3 {
    background: #cccccc;    
}

div.ngg-player-bg-changer div.ngg-player-bg-changer-item-4 {
    background: #b3b3b3;    
}

div.ngg-player-bg-changer div.ngg-player-bg-changer-item-5 {
    background: #999999;    
}

div.ngg-player-bg-changer div.ngg-player-bg-changer-item-6 {
    background: #808080;    
}

div.ngg-player-bg-changer div.ngg-player-bg-changer-item-7 {
    background: #666666;    
}

div.ngg-player-bg-changer div.ngg-player-bg-changer-item-8 {
    background: #4d4d4d;    
}

div.ngg-player-bg-changer div.ngg-player-bg-changer-item-9 {
    background: #333333;    
}

div.ngg-player-bg-changer div.ngg-player-bg-changer-item-10 {
    background: #1a1a1a;    
}

div.ngg-player-bg-changer div.ngg-player-bg-changer-item-11 {
    background: #000000;    
}

div#ngg_player_fancybox_container {
    display: none;
}

#fancybox-close {
    position: absolute;
    right: 12px !important;
    top: 12px !important;
}